<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&components=country:in&key=AIzaSyDv6TkOcr7aROGEPUtSY3rxjCGpqwJuOWI' %>
<h1>Hello Map</h1>
<div id="map"></div>
